__pycache__/Forecast.cpython-38.pyc
__pycache__/getForecast.cpython-38.pyc
__pycache__/getWeather.cpython-38.pyc
__pycache__/keys.cpython-38.pyc
__pycache__/Weather.cpython-38.pyc
Archive/Version 2 (Updated on 8-16-2020).zip
Archive/Version1(Updated on 8-12-2020).py
keys.py
